<ion-modal-view view-title="Quiz Page">
  <ion-content class="padding">
    <div id="message"></div>


<div class='answer_form'>
  3
  .
  Is it ever warm in Gothenburg?
  <div data-question-id='15' data-quiz-id='44' id='info'></div>
  <input type="text" name="body" id="body" value="" class="form-control code" />
  <input type="submit" name="commit" value="Submit" class="btn btn-primary btn-lg btn-block" onclick="submitAnswer();" data-disable-with="Submit" />
</div>
<div class='answer_submitted'>
  Answer submitted!
</div>

  </ion-content>
</ion-modal-view>
