<ion-modal-view view-title='Quiz Page'>
  <ion-content class='padding'>
    <div class='box'>
      <h1>Welcome to Quiz: {{quiz.name}}</h1>
      <div id='register_team' ng-hide="registeredTeam">
        Enter your teamname and press the button!
        <div class="form-control code">
          <input type="text" placeholder="Enter a Team Name" class="form-control" id='teamName'>
        </div>
        <button ng-click="registerTeam();" class="btn btn-primary btn-lg btn-block">Register team and play</button>
      </div>
      <div id='message'></div>
    </div>
    <img src='../img/logo.png'/>
  </ion-content>
</ion-modal-view>
