<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view view-title='Quizmaster'>
  <ion-content>
    <div class='box'>
      <h1>Play the Game</h1>
      <div class="form-control code">
        <input type="text" placeholder="Enter your code" class="form-control">
      </div>
      <button ng-click="findQuiz();" class="btn btn-primary btn-lg btn-block">Click this link to view the quiz!</button>
    </div>
    <a target="_blank" href="http://www.craftacademy.se">
      <img src='../img/logo.png'/>
    </a>
  </ion-content>
</ion-view>
