/* Empty. Add your own CSS if you like */
@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
ion-view, ion-modal-view {
  padding-top:60px;
  background: #ffc501;
  background: -moz-linear-gradient(top, #ffc501 0%, #fe9600 100%);
  background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, #ffc501), color-stop(100%, #fe9600));
  background: -webkit-linear-gradient(top, #ffc501 0%, #fe9600 100%);
  background: -o-linear-gradient(top, #ffc501 0%, #fe9600 100%);
  background: -ms-linear-gradient(top, #ffc501 0%, #fe9600 100%);
  background: linear-gradient(to bottom, #ffc501 0%, #fe9600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc501', endColorstr='#fe9600', GradientType=0 );
}

.box {
  margin: 10px;
  padding:20px;
  border: 4px solid #ffc501;
  border-radius: 10px;
  background:#FFF;
  padding-bottom: 30px;
}

.box h1 {
  font-family: 'Creepster', sans-serif;
}
.question_container, .question_headline {
  font-family: 'Creepster', sans-serif;
  font-size:24px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-sq-sm {
  max-height: 50px;
  padding-right:5px;
  padding-left:5px;
  font-size: 130%;
}
.btn-primary {
  color: #FFFFFF;
  background-color: #77477E;
  border-color: #77477E;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #58355D;
  border-color: #77477E;
}
.code {
  margin-bottom:5px;
}
.btn-block {
  display: block;
  width: 100%;
}
input[type="text"].form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#send_question { display: inline-block; float:right;}
.question p {
  font-size: 20px;
  float:left;
  min-height:50px;
  line-height: 50px;
  margin-right: 51px;
}
.question {
  padding-top: 10px;
  border-bottom: 1px solid gainsboro;
}
.question:after {
  content: '';
  display: block;
  clear: both;
}
.col-center-block {
  display: block;
  margin: 20px auto;
}

.square-button {
  max-height: 50px;
  display: block;
  float: right;
}

#undo {
  float: right;
  display: none;
}
#correct {
  display: none;
}

.links {
  margin: 2%;
  padding: 1%;
  font-size: 110%;
  color: #ffffff;
  align-self: center;
  text-align: center;
}

.score {
  font-size: 130%;
  font-weight: bold;
  background-color: #ffc501;
  color: #fff;
  max-width: 30px;
  display: block;
  float: right;
  padding: 1%;
}
